.about {
  position: relative;
  padding-bottom: 58px;

  @media (max-width: $tablet) {
	padding-bottom: 28px;
  }
  // .about__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .about__title

  &__title {
    margin-bottom: 16px;
  }
  // about__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .about__subtitle

  &__subtitle {
    margin-bottom: 28px;

    @media (max-width: $tablet) {
      margin-bottom: 18px;
    }
  }

  // .about__desc

  &__desc {
    @include adaptiveValue("padding-right", 200, 0, 1920, 991.98, 1);
    @include adaptiveValue("padding-left", 200, 0, 1920, 991.98, 1);
    @include adaptiveValue("font-size", 20, 12, 1920, 319.98, 1);

    margin-bottom: 24px;
  }
}

.qualities {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 80px;

  @media (max-width: $tablet) {
    gap: 20px;
    margin-bottom: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -60px;
    width: 75%;
    border: 2px solid $mainColorGrey;
    border-radius: 20px;
    @media (max-width: $tablet) {
      bottom: -20px;
    }
  }

  // .qualities__title

  &__title {
    @include adaptiveValue("font-size", 28, 16, 1920, 319.98, 1);
    @include adaptiveValue("width", 1000, 280, 1920, 319.98, 1);
    text-align: center;
    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    line-height: math.div(33, 28);
  }

  // .qualities__list

  &__list {
    @include adaptiveValue("font-size", 16, 14, 1920, 319.98, 1);

    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    row-gap: 28px;

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }
  }

  // .qualities__item

  &__item {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  // .qualities__decor

  &__decor {
    min-width: 40px;
    max-width: 40px;
    height: 20px;
  }
}
.about {
  // .about__cards

  &__cards {
    width: 1000px;
    position: relative;
    margin-bottom: 14px;

    @media (max-width: 1359.98px) {
      width: 750px;
    }
    @media (max-width: 1059.98px) {
      width: 500px;
    }
    @media (max-width: 577.98px) {
      width: 250px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 14px 26px;
  background: #fff;
  border: 2px solid $mainColorBrown;
  transition: border 0.4s;
  width: 260px;

  border-radius: 30px;
  line-height: math.div(17, 14);

  // .card__img

  &__img {
    width: 180px;
    height: 180px;
  }

  // .card__title

  &__title {
    text-align: left;

    font-family: $fontFamilyJost !important;
    font-size: 14px !important;
    font-weight: 700;
    transition: color 0.4s;
  }

  // .card__desc

  &__desc {
    padding: 0 !important;
    text-align: left !important;

    font-weight: 300;
  }

  // .card__body

  &__body {
    padding: 12px 10px;
    border-radius: 30px;
  }
  // .card__body-title

  &__body-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  // .card__title-body
  &__title-body {
    position: relative;
    font-size: 14px;
    font-weight: 200;
    transition: font-weight 0.4s;

    &::after {
      content: url(@img/decor-more.svg);
      position: absolute;
      left: 90px;
      padding: 0px 0px 0px 15px;
    }
  }

  //.card__button
  &__button {
    text-align: left !important;
  }
}

.wrapper-button__top {
  display: none;

  @media (max-width: 1359.98px) {
    display: flex;
  }
}
.wrapper-button__bottom {
  display: none;

  @media (max-width: 1359.98px) {
    display: flex;
  }
}
