.benefits {
  padding-bottom: 106px;

  @media (max-width: $tablet) {
    padding-bottom: 20px;
  }

  // .benefits__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @media (max-width: $tablet) {
      gap: 0;
    }
  }

  // .benefits__decor

  &__decor {
    margin-bottom: 13px;
  }

  // .benefits__title

  &__title {
    margin-bottom: 13px;
  }

  // .benefits__subtitle

  &__subtitle {
    margin-bottom: 13px;
  }

  // .benefits__body

  &__body {
    width: 990px;
    margin-bottom: 20px;

    @media (max-width: 1360px) {
      width: 660px;
    }
    @media (max-width: 670px) {
      width: 330px;
    }
    @media (max-width: $mobileSmall) {
      width: 300px;
    }
  }

  // .benefits__cards

  &__cards {
    position: relative;
    margin-bottom: 50px;

    @media (max-width: $tablet) {
      margin-bottom: 0;
    }
  }

  // .benefits__card

  &__card {
    position: relative;
    overflow: hidden;
    border: 2px solid $mainColorBrown;
    border-radius: 30px;
    align-items: flex-start;
    width: 322px;
    padding: 16px 12px;

    @include adaptiveValue("width", 400, 340, 1920, 1360, 1);

    &:hover {
      border-color: $mainColorBlue;
      & .card__icon {
        position: relative;
        transition: fill 0.4s;
        fill: $mainColorBlue;
      }
      & .card__icon-hover {
        transition: opacity 0.4s;

        opacity: 0.2;
      }
    }
  }

  // .benefits__request

  &__request {
    position: relative;
    width: 100%;
    // @include adaptiveValue("width", 1400, 768, 1920, 967.98, 1);
    @include adaptiveValue("gap", 68, 26, 1920, 767.98, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;
    height: 200px;
    background: radial-gradient(
      74.45% 238.31% at 66.48% 50%,
      rgba(0, 114, 187, 0.77) 0%,
      rgba(0, 114, 187, 0.77) 100%
    );

    filter: drop-shadow(0px 39px 36px rgba(0, 0, 0, 0.19));
    border-radius: 30px;

    &::after {
      content: url("@img/decor__background-benefits.png");
      position: absolute;
      transform: scale(-1, 1);
      top: 0;
      right: -160px;
    }
    &::before {
      content: url("@img/decor__background-benefits.png");
      position: absolute;
      top: 0;
      left: -160px;
    }

    @media (max-width: $mobile) {
      &::before {
        left: -255px;
      }
      &::after {
        right: -255px;
      }
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }

  // .benefits__button
  &__button {
    @include adaptiveValue("font-size", 20, 14, 1920, 319.98, 1);

    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    color: #fff;
    padding: 10px 20px;
    line-height: 1;
    border: 3px solid #ffffff;
  }
}

.card {
  // .card__block

  &__block {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  // .card__icon

  &__icon {
    fill: $mainColorBrown;
    width: 40px;
    height: 40px;
  }

  // .card__title

  &__title {
    @include adaptiveValue("font-size", 20, 16, 1920, 319.98, 1);

    font-family: $fontFamilyPlayfair;
  }

  // .card__text

  &__text {
    @include adaptiveValue("font-size", 16, 14, 1920, 319.98, 1);

    font-weight: 300;
  }
}
.button {
  // .button__question

  &__question {
    border: 3px solid #ffffff;
  }

  // .button__call

  &__call {
    background-color: $mainColorBrown;

    &:hover {
      background-color: transparent;
    }
  }
}

.benefits-card {
  // .benefits-card__block

  &__block {
    margin-bottom: 10px;
  }

  // .benefits-card__title

  &__title {
    font-family: $fontFamilyPlayfair !important;
    font-size: 20px !important;
  }

  // .benefits-card__text

  &__text {
    font-family: $fontFamilyJost !important;
  }
}
.benefits__body {
  @media (min-width: 1359.98px) {
    display: none;
  }
}
.benefits__body-pc {
  width: 990px;

  @media (min-width: $pc) {
    width: 1400px;
  }

  & .benefits__cards {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 10px;
  }
  @media (max-width: 1359.98px) {
    display: none;
  }
}
.card__icon-hover {
  fill: $mainColorBlue;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -16px;
  right: -16px;
  opacity: 0;
}
.wrapper-button__benefits {
  margin-top: 24px;
  margin-bottom: 20px;

  @media (min-width: 1359.98px) {
    display: none;
  }
}
