.gallery {
  padding-top: 50px;
  padding-bottom: 80px;
  // .gallery__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .gallery__title

  &__title {
    margin-bottom: 86px;
  }

  // .gallery__photo

  &__photo {
    width: 1000px;
    @media (max-width: 1300px) {
      width: 500px;
    }
    @media (max-width: $mobileSmall) {
      width: 320px;
    }
  }

  // .gallery__slide

  &__slide {
  }

  // .gallery__img

  &__img {
    @media (max-width: $mobileSmall) {
      width: 320px;
    }
  }
}
.section {
  // .section__decor

  &__decor {
  }

  // .section__title

  &__title {
  }
}
