.gallery {
  padding-top: 50px;
  padding-bottom: 80px;

  @media (max-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 30px;
  }
  // .gallery__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .gallery__title

  &__title {
    margin-bottom: 86px;

    @media (max-width: $tablet) {
      margin-bottom: 16px;
    }
  }

  // .gallery__photo

  &__photo {
    width: 1400px;
    border-radius: 10px;
    filter: drop-shadow(0px 39px 36px rgba(0, 0, 0, 0.19));

    @media (max-width: 1920px) {
      width: 1000px;
    }
    @media (max-width: 1359px) {
      width: 700px;
    }
    @media (max-width: $mobile) {
      width: 400px;
    }
    @media (max-width: $mobileSmall) {
      width: 300px;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }

  // .gallery__img

  &__img {
    border-radius: 10px;
    @media (max-width: $mobileSmall) {
      width: 320px;
    }
  }
}
