.main {
  padding-bottom: 54px;

  @media (max-width: $tablet) {
    padding-bottom: 26px;
  }
  // .main__container

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $tablet) {
      align-items: center;
    }
  }

  // .main__content

  &__content {
    @include adaptiveValue("width", 410, 260, 991.98, 319.98, 1);
    @include adaptiveValue("padding-left", 32, 16, 991.98, 319.98, 1);
    @include adaptiveValue("padding-right", 46, 0, 991.98, 319.98, 1);
    @include adaptiveValue("padding-top", 40, 6, 991.98, 319.98, 1);

    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 487px;

    display: flex;
    flex-direction: column;
    align-items: start;

    background: rgba(0, 114, 187, 0.3);
  }

  .main {
    // .main__spollers

    &__spollers {
      flex-wrap: wrap;
    }
  }
  .main-spollers {
    // .main-spollers__item

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 auto;
      gap: 16px;

      width: calc(100% / 4);
      padding: 16px 32px;

      &:hover {
        & .main-spollers__icon-hover {
          transition: opacity 0.4s;

          opacity: 0.2;
        }
      }

      @media (max-width: $tablet) {
        width: calc(100% / 2);
      }
      @media (max-width: $mobileSmall) {
        width: calc(100% / 1);
      }

      @include adaptiveValue("font-size", 14, 12, 991.98, 319.98, 1);
      line-height: math.div(13, 14);
    }

    // .main-spollers__desc

    &__desc {
      font-style: italic;
    }

    // .main-spollers__text

    &__text {
      font-family: $fontFamilyPlayfair;
      color: $mainColorBlue;
      font-weight: 700;
    }

    // .main-spollers__body-title

    &__body-title {
      font-family: $fontFamilyPlayfair;
      color: $mainColorBlue;
      font-weight: 700;
      margin-bottom: 10px;
    }

    // .main-spollers__icon-hover
    &__icon-hover {
      fill: $mainColorBrown;
      position: absolute;
      bottom: 6px;
      right: 1px;
      width: 65px;
      height: 70px;
      opacity: 0;
    }
  }

  // .main__spollers

  &__spollers {
    .spollers {
      // .spollers__item

      &__item {
        @include adaptiveValue("font-size", 14, 12, 991.98, 319.98, 1);
        line-height: math.div(13, 14);
      }

      // .spollers__desc

      &__desc {
        font-style: italic;
      }

      // .spollers__text

      &__text {
        font-family: $fontFamilyPlayfair;
        color: $mainColorBlue;
        font-weight: 700;
      }

      // .spollers__button

      &__button {
        position: relative;
        font-weight: 200;

        &::after {
          content: url(@img/decor-more.svg);
          position: absolute;
          right: 0;
          top: 1px;
        }
      }

      // .spollers__body-title

      &__body-title {
        font-family: $fontFamilyPlayfair;
        color: $mainColorBlue;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }
}

.content-swiper {
  font-family: $fontFamilyPlayfair;
  font-weight: 700;

  color: #fff;

  // .content-swiper__subtitle

  &__subtitle {
    @include adaptiveValue("font-size", 16, 12, 991.98, 319.98, 1);
    @include adaptiveValue("margin-bottom", 40, 18, 767.98, 319.98, 1);

    position: relative;
    line-height: math.div(20, 16);

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 8px;
      left: -16px;
      background-color: $mainColorBrown;
      border-radius: 50px;

      @media (max-width: $mobile) {
        width: 4px;
        left: -10px;
      }
    }
  }

  // .content-swiper__title

  &__title {
    @include adaptiveValue("font-size", 28, 14, 991.98, 319.98, 1);
    @include adaptiveValue("margin-bottom", 26, 16, 767.98, 319.98, 1);

    position: relative;
    line-height: math.div(38, 28);

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 8px;
      left: -16px;
      background-color: $mainColorBrown;
      border-radius: 50px;

      @media (max-width: $mobile) {
        width: 4px;
        left: -10px;
      }
    }
  }

  // .content-swiper__text

  &__text {
    @include adaptiveValue("font-size", 16, 12, 991.98, 319.98, 1);
    display: flex;
    gap: 18px;
    font-family: $fontFamilyJost;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 44px;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .content-swiper__button

  &__button {
    @include adaptiveValue("font-size", 16, 10, 991.98, 319.98, 1);
    font-family: $fontFamilyPlayfair;
    line-height: math.div(20, 16);
    max-width: 60%;
    padding: 5px 0px;
    border-radius: 50px;
  }
}