.questions {
  background-color: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 152px;

  @media (max-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 0;
  }

  // .questions__container

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;

    padding-top: 236px;

    @media (max-width: 1299px) {
      padding-top: 80px;
    }
  }

  // .questions__title-left

  &__title-left {
    top: 5%;
  }

  // .questions__body

  &__body {
    margin-left: auto;
    display: flex;
    gap: 24px;

    @media (min-width: $pc) {
      margin-right: auto;
    }
    @media (max-width: 1299px) {
      margin-right: auto;
      margin-left: auto;
    }
    @media (min-width: $tablet) {
      & .tabs__content {
        text-align: center;
        padding: 60px 50px;
      }
    }
  }

  // .questions__navigation

  &__navigation {
    gap: 20px;
  }

  // .questions__title-body

  &__title-body {
    font-size: 20px;
    color: $mainColorBrown;
    margin-bottom: 20px;
  }

  // .questions__title-button

  &__title-button {
    font-weight: 600;
    font-size: 14px;
    color: $mainColorBrown;
    margin-top: 48px;
  }

  // .questions__content

  &__content {
    text-align: center;
    padding: 50px 60px;
  }
}

.questions-spollers {
  // .questions-spollers__item

  &__item {
    display: flex;
    flex-direction: column;
  }

  // .questions-spollers__buttton

  &__buttton {
    @include adaptiveValue("font-size", 18, 14, 767.98, 319.98, 1);
    margin-bottom: 12px;
  }

  // .questions-spollers__body

  &__body {
    @include adaptiveValue("width", 460, 260, 767.98, 319.98, 1);
    @include adaptiveValue("font-size", 16, 12, 1300, 319.98, 1);

    width: 460px;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(131 131 131 / 50%);
    margin-bottom: 8px;

    @media (max-width: $mobileSmall) {
      padding: 10px;
    }

    @media (min-width: $mobile) {
      display: none;
    }
  }

  // .questions-spoller__title

  &__title {
    @include adaptiveValue("font-size", 24, 12, 1300, 319.98, 1);

    font-family: "Playfair Display";
    font-weight: 700;
    line-height: 1.1111111111;
    text-align: start;
    letter-spacing: 0.7px;
    transition: color 0.4s;
  }

  // .questions-spoller__subtitle

  &__subtitle {
    @include adaptiveValue("font-size", 20, 12, 1300, 319.98, 1);

    font-family: "Playfair Display";
    font-weight: 700;
    color: #ac8f64;
    margin-top: 10px;
    margin-bottom: 32px;
  }
}

._tab-spoller {
  & .tabs__navigation {
    display: none;
  }

  & .tabs__content {
    width: auto;
    height: auto;
    padding: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: none;
    background-color: transparent;
  }
  & .tabs__body {
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 18px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(131 131 131 / 50%);
  }
  & li {
    margin-bottom: 20px;

    @media (max-width: $mobile) {
      margin-bottom: 10px;
    }

    &::marker {
      content: none;
    }
  }
}
.questions-tabs__title {
  position: relative;
  @include adaptiveValue("font-size", 18, 16, 1300.98, 767.98, 1);

  &::after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: $mainColorBrown; /*задаём цвет линии*/
    content: "";
    transition: width 0.5s ease-out; /*задаём время анимации*/
  }
  &::before {
    content: url("../../img/decor_qualities.svg");
    position: absolute;
    left: -50px;
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
  }

  &:hover {
    &::after {
      width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
    }
    &::before {
      display: block;
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}
