.questions {
  background-color: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 150px;

  // .questions__container

  &__container {
	  position: relative;
	  display: flex;
	  flex-direction: column;
	  align-items: center;

	  padding-top: 236px;
	}

  // .questions__title-left

  &__title-left {
    top: 5%;
    left: 2%;
  }

  // .questions__body

  &__body {
    display: flex;
    gap: 24px;
  }

  // .questions__navigation

  &__navigation {
    gap: 20px;
  }

  // .questions__title

  &__title {
  }

  // .questions__title-body

  &__title-body {
    font-size: 20px;
    color: $mainColorBrown;
    margin-bottom: 20px;
  }

  // .questions__title-button

  &__title-button {
    font-weight: 600;
    font-size: 14px;
    color: $mainColorBrown;
    margin-top: 48px;
  }

  // .questions__content

  &__content {
    text-align: center;
    padding: 50px 60px;
  }

  // .questions__tabs

  &__tabs {
  }
}
.section {
  // .section__title-left

  &__title-left {
  }
}
