.reviews {
  padding-top: 80px;
  padding-bottom: 50px;

  @media (max-width: $tablet) {
    padding-top: 30px;
  }
  // .reviews__container

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  // .reviews__title-left

  &__title-left {
    top: -80px;
    @media (max-width: $tablet) {
      top: -30px;
    }
  }

  // .reviews__body

  &__body {
    width: 810px;

    @media (max-width: 1150px) {
      width: 700px;
    }
    @media (max-width: $mobile) {
      width: 500px;
    }
    @media (max-width: $mobileSmall) {
      width: 320px;
    }
  }

  // .reviews__person

  &__person {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  // .reviews__head

  &__head {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 8px;

    border-bottom: 4px solid #57585a;
  }

  // .reviews__img

  &__img {
  }

  // .reviews__avatar

  &__avatar {
  }

  // .reviews__info

  &__info {
    display: flex;
    flex-direction: column;
  }

  // .reviews__name

  &__name {
    font-family: $fontFamilyPlayfair;
    font-size: 15px;
    margin-bottom: 3px;
  }

  // .reviews__desc

  &__desc {
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 10px;
  }

  // .reviews__original

  &__original {
    font-size: 10px;
    font-weight: 600;
    color: $mainColorBrown;
    display: contents;
    transition: color 0.4s;

    &:hover {
      color: $mainColorBlue;
    }
  }

  // .reviews__text

  &__text {
    font-size: 14px;
    font-weight: 200;
    line-height: math.div(20, 15);
    padding-left: 12px;
    padding-right: 12px;
    column-count: 2;
    column-gap: 20px;

    @media (max-width: $mobile) {
      column-count: auto;
    }
  }
}
.section {
  // .section__title-left

  &__title-left {
  }
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  /* background-color: - add your own background-color */
  font: {
    family: "Roboto", sans-serif; /* put your font-family */
    size: 18px;
  }
  padding: 20px 0px;
  width: 150px;
  border-radius: 20px;
  overflow: hidden;
}

/* effect-1 styles */

.effect.effect-1 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -20px;

    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}

/* effect-2 styles */

.effect.effect-2 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f0a4";
    font-family: FontAwesome;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background-color: rgba(black, 0.3);
    border-radius: 20px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }

  &:hover {
    text-indent: -30px;

    &:before {
      right: 0;
      text-indent: 0px;
    }
  }
}

/* effect-3 styles */
.effect.effect-3 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -9999px;

    &:before {
      top: 0;
      text-indent: 0;
    }
  }
}

/* effect-4 styles */
.effect.effect-4 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f178";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    transform: scale(0, 1);
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -9999px;

    &:before {
      transform: scale(1, 1);
      text-indent: 0;
    }
  }
}

/* effect-5 styles */

.effect.effect-5 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f054";

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 30px;
    background-color: rgba(blue, 0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: 30px;

    &:before {
      transform: scale(1, 1);
      text-indent: 0;
    }
  }
}
