.reviews {
  padding-top: 80px;
  padding-bottom: 50px;

  @media (max-width: $tablet) {
    padding-top: 30px;
  }
  // .reviews__container

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &::before {
      content: url("@img/decor_background.png");
      position: absolute;
      left: -100px;
      bottom: 0;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  // .reviews__title-left

  &__title-left {
    top: -80px;

    @media (max-width: $tablet) {
      top: -30px;
    }
  }

  // .reviews__body

  &__body {
    margin-left: auto;
    margin-right: auto;
    width: 900px;

    @media (min-width: $pc) {
      margin-right: auto;
    }

    @media (max-width: 1299px) {
      width: 100%;
    }
    @media (max-width: $mobile) {
      width: 500px;
    }
    @media (max-width: $mobileSmall) {
      width: 320px;
    }
  }

  // .reviews__person

  &__person {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  // .reviews__head

  &__head {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 8px;
    border-bottom: 4px solid #57585a;
  }

  // .reviews__info

  &__info {
    display: flex;
    flex-direction: column;
  }

  // .reviews__name

  &__name {
    font-family: $fontFamilyPlayfair;
    font-size: 15px;
    margin-bottom: 3px;
  }

  // .reviews__desc

  &__desc {
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 10px;
  }

  // .reviews__original

  &__original {
    font-size: 10px;
    font-weight: 600;
    color: $mainColorBrown;
    display: contents;
    transition: color 0.4s;

    &:hover {
      color: $mainColorBlue;
    }
  }

  // .reviews__text

  &__text {
    font-size: 14px;
    font-weight: 200;
    line-height: math.div(20, 15);
    padding-left: 12px;
    padding-right: 12px;
    column-count: 2;
    column-gap: 20px;

    @media (max-width: $mobile) {
      column-count: auto;
    }
  }
}
