.stages {
  position: relative;
  background-color: #f3f3f3;
  padding-top: 78px;
  padding-bottom: 145px;

  @media (max-width: $tablet) {
    padding-top: 6px;
    padding-bottom: 0;
  }

  // .stages__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .stages__text

  &__text {
    margin-left: 160px;
    position: relative;
    font-weight: 200;

    margin-bottom: 65px;

    @media (max-width: 1433px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }

  // .stages__body

  &__body {
    padding-top: 15px;
    position: relative;
    margin-left: 160px;
    display: flex;
    gap: 20px;

    @media (max-width: 1299px) {
      margin-left: auto;
      margin-right: auto;
    }

    &::after {
      content: "";
      position: absolute;
      top: -30px;
      left: 0;
      width: 100%;
      border: 2px solid $mainColorGrey;
      border-radius: 20px;

      @media (max-width: $tablet) {
        top: -20px;
      }
    }
  }
}
// .stages-tab__title

.stages-tabs__title {
  @include adaptiveValue("font-size", 18, 14, 1920, 479.98, 1);

  font-family: $fontFamilyPlayfair;
  font-weight: 700;
  line-height: math.div(20, 18);
  text-align: start;
  letter-spacing: 0.7px;
  transition: color 0.4s;

  &:hover {
    color: $mainColorBrown;
  }
  position: relative;
  @include adaptiveValue("font-size", 18, 16, 1300.98, 767.98, 1);

  &::after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: $mainColorBrown; /*задаём цвет линии*/
    content: "";
    transition: width 0.5s ease-out; /*задаём время анимации*/
  }
  &::before {
    content: url("../../img/decor_qualities.svg");
    position: absolute;
    left: -50px;
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
  }

  &:hover {
    &::after {
      width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
    }
    &::before {
      display: block;
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}

// .stages-tabs__subtitle

.stages-tabs__subtitle {
  font-size: 20px;
  font-family: $fontFamilyPlayfair;
  font-weight: 700;
  color: $mainColorBrown;
  margin-top: 10px;
  margin-bottom: 32px;
}

.tabs {
  // .tabs__navigation

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & li {
      display: flex;
      justify-content: flex-start;
      text-align: start;
    }
  }

  // .tabs__title
  &__title {
    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    line-height: math.div(20, 18);
    text-align: start;
    letter-spacing: 0.7px;
    transition: color 0.4s;
    &:hover {
      color: $mainColorBrown;
    }
  }

  // .tabs__content

  &__content {
    @include adaptiveValue("padding-left", 70, 20, 1920, 991.98, 1);

    box-sizing: border-box;
    width: 405px;

    background-color: #fff;
    border-radius: 30px;
    padding: 20px 20px 40px 0px;

    box-shadow: 0 0 10px rgba(131, 131, 131, 0.5);

    @media (min-width: 1300px) {
      overflow: hidden;
      position: relative;

      &::before,
      &::after {
        transition: opacity 0.4s;
        opacity: 1;
        content: url("../../img/decor_tabs.png");
        position: absolute;
      }

      &::before {
        bottom: -46px;
        left: -46px;
      }

      &::after {
        transform: rotate(180deg);
        top: -46px;
        right: -46px;
      }
    }
  }

  // .tabs__body

  &__body {
    overflow: hidden;
    position: relative;

    & span {
      line-height: math.div(20, 16);
    }

    @media (max-width: 1300px) {
      &::before,
      &::after {
        transition: opacity 0.4s;
        opacity: 1;
        content: url("../../img/decor_tabs.png");
        position: absolute;
      }

      &::before {
        bottom: -46px;
        left: -46px;
      }

      &::after {
        transform: rotate(180deg);
        top: -46px;
        right: -46px;
      }
    }
  }

  // .tabs__subtitle

  &__subtitle {
    @include adaptiveValue("font-size", 20, 12, 1300, 319.98, 1);
    @include adaptiveValue("margin-bottom", 32, 12, 991.98, 319.98, 1);

    font-family: "Playfair Display";
    font-weight: 700;
    color: #ac8f64;
    margin-top: 10px;
    margin-bottom: 32px;
  }
}

.stages-spollers {
  // .stages-spollers__item

  &__item {
    display: flex;
    flex-direction: column;
  }

  // .stages-spollers__buttton

  &__buttton {
    @include adaptiveValue("font-size", 18, 14, 767.98, 319.98, 1);
    margin-bottom: 12px;
  }

  // .stages-spollers__body

  &__body {
    @include adaptiveValue("width", 460, 260, 767.98, 319.98, 1);
    @include adaptiveValue("font-size", 16, 12, 1300, 319.98, 1);

    width: 460px;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(131 131 131 / 50%);
    margin-bottom: 8px;

    @media (max-width: $mobileSmall) {
      padding: 10px;
    }

    @media (min-width: $mobile) {
      display: none;
    }
  }

  // .stages-spoller__title

  &__title {
    @include adaptiveValue("font-size", 24, 12, 1920, 319.98, 1);
  }

  // .stages-spoller__subtitle

  &__subtitle {
    @include adaptiveValue("font-size", 20, 12, 1920, 319.98, 1);
  }
}

._tab-spoller {
  & .tabs__navigation {
    display: none;
  }

  & .tabs__content {
    width: auto;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: none;
    background-color: transparent;
  }

  & .tabs__body {
    @include adaptiveValue("width", 460, 280, 1300.98, 319.98, 1);
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(131 131 131 / 50%);

    & span {
      @include adaptiveValue("font-size", 16, 12, 1920, 319.98, 1);
    }
  }

  & li {
    &::marker {
      content: none;
    }
  }
}
