.team {
  background-color: #f3f3f3;
  padding-top: 158px;
  padding-bottom: 1px;
  // .team__container

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 156px;
  }

  // .team__title-left

  &__title-left {
    top: -110px;
  }

  // .team__cards

  &__cards {
    width: 1000px;
    @media (max-width: 1299px) {
      width: 750px;
    }
    @media (max-width: 759px) {
      width: 500px;
    }
    @media (max-width: $mobileSmall) {
      width: 250px;
    }
  }

  // .team__card

  &__card {
    width: 240px;

    &:hover {
      & .card__text {
        font-weight: 700;
      }
      & .card__desc {
        font-weight: 700;
      }

      border: 2px solid $mainColorBlue;
    }
  }
}
.section {
  // .section__title-left

  &__title-left {
  }

  // .section__decor

  &__decor {
  }
}
.card {
  // .card__image

  &__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    & img {
      z-index: 2;
    }
  }

  // .card__icon-team

  &__icon-team {
    position: absolute;
    width: 150px;
    height: 150px;
  }

  // .card__text

  &__text {
    text-align: center;
    font-weight: 500;
    font-family: $fontFamilyPlayfair;
    margin-bottom: 10px;
  }

  // .card__desc

  &__desc {
    text-align: center !important;
    padding: 0px 26px;
  }
}
.benefits {
  // .benefits__decor

  &__decor {
  }
}

.team-button-next {
  & svg {
    &:hover {
      border-radius: 10px;
      background: #f3f3f3;
      box-shadow: 10px 10px 20px 0px #00000017;
      box-shadow: -10px -10px 20px 0px #ffffff;
    }
  }
}
.team-button-prev {
  & svg {
    &:hover {
      border-radius: 10px;
      background: #f3f3f3;
      box-shadow: 10px 10px 20px 0px #00000017;
      box-shadow: -10px -10px 20px 0px #ffffff;
    }
  }
}
