.team {
  background-color: #f3f3f3;
  padding-top: 158px;
  padding-bottom: 1px;
  // .team__container

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 156px;
  }

  // .team__title-left

  &__title-left {
    top: -110px;
  }

  // .team__cards

  &__cards {
    width: 1000px;
    @media (max-width: 1299px) {
      width: 750px;
    }
    @media (max-width: 759px) {
      width: 500px;
    }
    @media (max-width: $mobileSmall) {
      width: 250px;
    }
  }

  // .team__card

  &__card {
    border-color: $mainColorBlue;

    width: 240px;

    &:hover {
      & .card__text {
        font-weight: 700;
      }
      & .card__desc {
        font-weight: 700;
      }
      & .card__icon-team {
        transition: fill 0.4s;

        fill: $mainColorBrown;
      }

      border-color: $mainColorBrown;
    }
  }
}
.section {
  // .section__title-left

  &__title-left {
  }

  // .section__decor

  &__decor {
  }
}
.card {
  // .card__image

  &__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    & img {
      width: 130px;
      z-index: 2;
    }
  }

  // .card__icon-team

  &__icon-team {
    fill: $mainColorBlue;
    position: absolute;
    width: 140px;
    height: 140px;
  }

  // .card__text

  &__text {
    text-align: center;
    font-weight: 500;
    font-family: $fontFamilyPlayfair;
    margin-bottom: 10px;
  }

  // .card__desc

  &__desc {
    text-align: center !important;
    padding: 0px 26px;
  }
}
.benefits {
  // .benefits__decor

  &__decor {
  }
}

