.terms {
  padding-top: 46px;
  padding-bottom: 40px;

  // .terms__container

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  // .terms__title

  &__title {
    font-size: 24px;
    line-height: math.div(32, 24);
    margin-bottom: 44px;
  }

  // .terms__subtitle

  &__subtitle {
    font-size: 20px;
    line-height: math.div(27, 20);
    margin-bottom: 40px;
  }

  // .terms__desc

  &__desc {
    font-size: 16px;
    font-weight: 700;
    line-height: math.div(23, 26);
    text-align: center;

    width: 60%;
    margin-bottom: 30px;
  }

  // .terms__body

  &__body {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // margin-left: auto;
    // margin-right: auto;
    @include adaptiveValue("width", 1000, 1300, 2500, 1300, 1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    align-items: center;
    align-self: center;
    text-align: center;

    grid-column-gap: 22px;
    grid-row-gap: 40px;
  }

  // .terms__card

  &__card {
  }

  // .terms__card-wrapper

  &__card-wrapper {
  }

  // .terms__card-item

  &__card-item {
  }

  // .terms__card-title

  &__card-title {
    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 34px;
  }

  // .terms__card-text

  &__card-text {
    font-weight: 200;
    font-size: 20px;

    margin-bottom: 20px;
  }

  // .terms__card-button

  &__card-button {
    padding: 0;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    margin-right: auto;

    &::after {
      left: 112%;
    }
  }

  // .terms__card-body

  &__card-body {
    font-family: $fontFamilyPlayfair;
    font-weight: 400;

    padding: 20px 40px;

    border-radius: 10px;
    background: radial-gradient(
      74.45% 238.31% at 66.48% 50%,
      rgba(172, 143, 100, 1) 0%,
      rgba(172, 143, 100, 1) 100%
    );
    box-shadow: 0px 39px 36px -31px rgba(138, 124, 99, 0.15);
  }

  // .terms__card-subtitle

  &__card-subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  // .terms__card-slider

  &__card-slider {
  }

  // .terms__card-wrapper

  &__card-wrapper {
  }

  // .terms__card

  &__card {
    position: relative;

    border-radius: 10px;
    height: 292px;
  }
  // .terms__card

  &__slider {
    width: 540px;
    height: 292px;
    position: relative;
    border-radius: 10px;
  }

  // .terms__button-wrapper
  &__button-wrapper {
  }
}

.terms-card {
  // .terms-card__spollers

  &__spollers {
    display: flex;
    flex-direction: column;
    padding: 40px 62px;
    min-width: 420px;
    max-width: 420px;

    color: #fff;

    background: radial-gradient(
      74.45% 238.31% at 66.48% 50%,
      rgba(0, 114, 187, 0.77) 0%,
      rgba(0, 114, 187, 0.4928) 100%
    );

    &:hover {
      background: radial-gradient(
        74.45% 238.31% at 66.48% 50%,
        rgba(172, 143, 100, 0.77) 0%,
        rgba(172, 143, 100, 0.4928) 100%
      );
    }
  }

  // .terms-card__slider

  &__slider {
    min-width: 540px;
    max-width: 540px;
    // grid-column: span 2;
  }
}

.section {
  // .section__decor

  &__decor {
  }

  // .section__title

  &__title {
  }

  // .section__subtitle

  &__subtitle {
  }
}
.spollers {
}

.terms-pagination {
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 10px;
  left: 10px;

  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: #fff !important;
    opacity: 0.8 !important;
  }
  .swiper-pagination-bullet-active {
    background: $mainColorBrown !important;
    opacity: 1 !important;
  }
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  @media (max-width: $mobile) {
    height: 300px !important;
  }
  @media (max-width: $mobileSmall) {
    height: 180px !important;
  }
}
