.terms {
  padding-top: 46px;
  padding-bottom: 40px;

  @media (max-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  // .terms__container

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  // .terms__title

  &__title {
    line-height: math.div(32, 24);
    margin-bottom: 44px;

    @media (max-width: $tablet) {
      margin-bottom: 14px;
    }
  }

  // .terms__subtitle

  &__subtitle {width: 100%;
    line-height: math.div(27, 20);
    margin-bottom: 40px;

    @media (max-width: $tablet) {
      margin-bottom: 14px;
    }
  }

  // .terms__desc

  &__desc {
  
    @include adaptiveValue("font-size", 20, 12, 1920, 319.98, 1);

    margin-bottom: 34px;


    line-height: math.div(23, 26);
    text-align: center;


    @media (max-width: $tablet) {
      margin-bottom: 10px;
    }
  }

  // .terms__body

  &__body {
    @include adaptiveValue(" margin-left", 640, 0, 3000, 1400, 1);
    @include adaptiveValue(" margin-right", 640, 0, 3000, 1400, 1);

    @include adaptiveValue(" column-gap", 22, 6, 1920, 1360, 1);
    @include adaptiveValue(" row-gap", 40, 16, 1920, 1360, 1);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  // .terms__card

  &__card {
    filter: drop-shadow(0px 39px 36px rgba(0, 0, 0, 0.19));

    @media (max-width: 1319px) {
      width: 540px !important;
    }

    @media (max-width: 578px) {
      width: 480px !important;
    }

    @media (max-width: $mobileSmall) {
      width: 300px !important;
    }

    &:hover {
      & .spollers-more {
        &::after {
          transition: transform 0.3s;
          transform: rotate(-90deg);
        }
      }
    }
  }

  // .terms__item-wrapper

  &__item-wrapper {
    display: flex;
    gap: 10px;

    @media (max-width: 1319px) {
      flex-direction: column;

      &:nth-child(2) {
        flex-direction: column-reverse;
      }

      &:nth-child(4) {
        flex-direction: column-reverse;
      }
    }
  }

  // .terms__card-title

  &__card-title {
    @include adaptiveValue("font-size", 20, 15, 1920, 319.98, 1);
    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    margin-bottom: 34px;
  }

  // .terms__card-text

  &__card-text {
    @include adaptiveValue("font-size", 20, 14, 1920, 319.98, 1);
    font-weight: 200;
    margin-bottom: 20px;
  }

  // .terms__card-button

  &__card-button {
    padding: 0;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    margin-right: auto;

    &::after {
      left: 112%;
    }
  }

  // .terms__card-body

  &__card-body {
    @include adaptiveValue("font-size", 20, 14, 1920, 319.98, 1);
    font-family: $fontFamilyPlayfair;
    font-weight: 400;

    padding: 20px 20px;

    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 39px 36px -31px rgba(138, 124, 99, 0.15);

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        74.45% 238.31% at 66.48% 50%,
        rgba(172, 143, 100, 0.77) 0%,
        rgba(172, 143, 100, 0.4928) 100%
      );
      z-index: 1;
    }

    & span {
      position: relative;
      z-index: 2;
    }

    @media (max-width: $mobileSmall) {
      padding: 20px 16px;
    }
  }

  // .terms__card-subtitle

  &__card-subtitle {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  // .terms__card

  &__card {
    position: relative;

    border-radius: 10px;
    height: 292px !important;

    @media (max-width: $mobileSmall) {
      height: 240px !important;
    }
  }
  // .terms__card

  &__slider {
    width: 540px;
    height: 292px;
    position: relative;
    border-radius: 10px;
  }
}

.terms-card {
  // .terms-card__spollers

  &__spollers {
    display: flex;
    flex-direction: column;
    padding: 40px 62px;
    width: 420px;

    color: #fff;

    background: radial-gradient(
      74.45% 238.31% at 66.48% 50%,
      rgba(0, 114, 187, 0.77) 0%,
      rgba(0, 114, 187, 0.4928) 100%
    );

    @media (max-width: $mobileSmall) {
      padding: 20px 22px;
    }
  }

  // .terms-card__slider

  &__slider {
    min-width: 540px;
    max-width: 540px;
  }
}

.terms-pagination {
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 10px;
  left: 10px;

  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: #fff !important;
    opacity: 0.8 !important;
  }
  .swiper-pagination-bullet-active {
    background: $mainColorBrown !important;
    opacity: 1 !important;
  }
}
