// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
  @include adaptiveValue("margin-left", 110, 40, 1920, 991.98, 1);
  @include adaptiveValue("width", 800, 700, 1920, 991.98, 1);

  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 20px;
  border: 2px solid $mainColorBrown;
}
// Спойлер
.spollers__item {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 16px;

  padding: 16px 32px;

  border-right: 2px solid $mainColorBrown;

  &:nth-child(4) {
    border-right: none;
  }
}
// Заголовок спойлера
.spollers__title {
  cursor: default;

  ._spoller-init & {
    cursor: pointer;
  }
}
// Контент спойлера
.spollers__body {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 4px;

  border-radius: 20px;
  background-color: #fff;
}
