// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
  @include adaptiveValue("width", 810, 200, 1200, 319.98, 1);

  @media (max-width: $tablet) {
    margin-left: 0px;
  }
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
// Спойлер
.spollers__item {
  position: relative;
  width: calc(100% / 6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 16px;
  border: 1px solid $mainColorBrown;
  padding: 16px 32px;

  @media (max-width: $tablet) {
    width: calc(100% / 2);
  }
  @media (max-width: $mobileSmall) {
    width: calc(100% / 1);
  }
}
// Заголовок спойлера
.spollers__title {
  cursor: default;

  ._spoller-init & {
    cursor: pointer;
  }
}
// Контент спойлера
.spollers__body {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 8px 2px;

  border-radius: 20px;
  background-color: #fff;
}
