.fixed-menu {
  @include adaptiveValue("width", 400, 280, 1920, 991.98, 1);
  @include adaptiveValue("font-size", 20, 14, 1520, 991.98, 1);
  @include adaptiveValue("padding-right", 30, 10, 1920, 991.98, 1);
  @include adaptiveValue("padding-left", 30, 10, 1920, 991.98, 1);

  z-index: 4;
  position: fixed;
  top: 0;
  height: 100%;
  padding: 40px 0px 30px 0px;
  background-color: $mainColorBlue;
  border-radius: 0px 30px 0px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-family: $fontFamilyPlayfair;
  font-weight: 700;
  color: #fff;

  @media (min-height: $tablet) {

    & .fixed-menu__list {
      margin-top: 60px;
      gap: 20px;
    }
    & .fixed-menu__decor {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    @include adaptiveValue("height", 114, 60, 991.98, 319.98, 1);

    top: 0;
    left: 0;
    width: 100%;
    background-color: $mainColorBlue;
    border-radius: 0px 0px 30px 30px;
    padding: 0px 16px 0px 16px;
    flex-direction: row;
  }

  // .fixed-menu__logo

  &__logo {
    @media (max-width: $tablet) {
      @include adaptiveValue("width", 76, 50, 991.98, 319.98, 1);
      @include adaptiveValue("height", 100, 80, 991.98, 319.98, 1);

      width: 96px;
      height: 120px;
    }
  }

  // .fixed-menu__icon

  &__icon {
    @include adaptiveValue("width", 150, 120, 1920, 991.98, 1);
    @include adaptiveValue("height", 188, 148, 1920, 991.98, 1);

    width: 150px;
    height: 188px;
    @media (max-width: $tablet) {
      width: 100%;
      height: 100%;
    }
  }

  // .fixed-menu__body

  &__body {
    position: relative;
    line-height: math.div(26, 20);

    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .fixed-menu__decor

  &__decor {
    width: 110px;

    &--two {
      transform: rotate(180deg);
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .fixed-menu__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  // .fixed-menu__item

  &__item {
    position: relative;
    transition: color 0.4s;

    &:hover {
      color: $mainColorBrown;
    }
  }

  // .fixed-menu__socials

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 50rem;
    padding: 1.5rem 1.5rem;

    @media (max-width: $tablet) {
      justify-content: center;
      gap: 30px;
    }
  }
}
