.one {
  .main {
    // .main__slider

    &__slider {
      position: relative;
      overflow: hidden;
      border-radius: 50px;
      margin-bottom: 22px;
      @media (max-width: $tablet) {
        border-radius: 10px;
      }
      // .main__wrapper

      &__wrapper {
      }

      // .main__slide

      &__slide {
      }
    }
  }
  .swiper {
    @include adaptiveValue("width", 989, 300, 1100, 319.98, 1);
    @include adaptiveValue("height", 600, 160, 991.98, 319.98, 1);
    
  

    
    @media (max-width: $tablet) {
      border-radius: 10px !important;
    }
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .swiper-pagination {
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 12px;
      top: 60%;
      right: 16px;
    }
  }
  .swiper-autoheight,
  .swiper-autoheight .swiper-slide {
    @media (max-width: $mobile) {
      height: 300px !important;
    }
    @media (max-width: $mobileSmall) {
      height: 180px !important;
    }
  }
}
