// Заголовки, общие БЄМ блоки и проче...
// [class*="__container"] {
//   position: relative;
//   margin-left: 20px;
// }

.page {
  @include adaptiveValue("margin-left", 400, 280, 1920, 991.98, 2);
}

.section {
  // .section__title-left

  &__title-left {
    @include adaptiveValue("font-size", 24, 14, 1920, 319.98, 1);

    width: 160px;
    position: absolute;
    left: 30px;

    text-transform: uppercase;
    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    color: $mainColorBlue;
    line-height: math.div(30, 24);

    &::before {
      @include adaptiveValue("width", 8, 4, 1920, 479.98, 1);

      content: "";
      position: absolute;
      height: 100%;
      left: -20px;
      background-color: $mainColorRed;
      border-radius: 50px;
    }
  }

  // .section__decor

  &__decor {
    // margin-right: auto;
    // margin-left: auto;
    @include adaptiveValue("width", 200, 100, 1920, 479.98, 1);
    @include adaptiveValue("height", 80, 40, 1920, 479.98, 1);

    margin-bottom: 40px;
  }

  // .section__title

  &__title {
    @include adaptiveValue("font-size", 28, 16, 1920, 319.98, 1);
    @include adaptiveValue("width", 800, 300, 1920, 319.98, 1);

    text-align: center;

    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    text-transform: uppercase;
  }

  // .section__subtitle

  &__subtitle {
    @include adaptiveValue("font-size", 28, 14, 1920, 319.98, 1);
    @include adaptiveValue("width", 800, 300, 1920, 319.98, 1);

    text-align: center;

    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    line-height: math.div(33, 28);
  }
}

svg {
  height: 100%;

  width: 100%;
}
.wrapper-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 200px;
  margin-bottom: 22px;

  //.wrapper-button__bottom
  &__bottom {
    display: none;

    @media (max-width: 1360px) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-right: 200px;
      margin-bottom: 22px;
    }
  }

  //.wrapper-button__top
  &__top {
    display: none;

    @media (max-width: 1360px) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-right: 200px;
      margin-bottom: 22px;
    }
  }
}

.button {
  // .button__slider
  &__slider {
    fill: $mainColorBlue;

    &:hover {
      transition: fill 0.4s;
      fill: $mainColorBrown;
    }
  }

  // .button__slider-transparent
  &__slider-transparent {
  }
}
.team-button-next {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  background: #e0e5ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  font-size: 26px;
  color: #666;
  text-decoration: none;
}
.team-button-next:hover {
  background: radial-gradient(circle, #0ff 0%, #e0e5ec 60%);
  color: rgba(102, 102, 102, 0.5);
  animation: colorchange 3s linear infinite;
}
.team-button-next:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

@keyframes colorchange {
  to {
    filter: hue-rotate(360deg);
  }
}

.button-effect {
  padding: 30px 0px;

  h2 {
    font: {
      family: "Droid Serif", serif;
      size: 20px;
    }
    margin-bottom: 40px;
  }

  a {
    margin-right: 17px;

    background-color: #fff;
  }
}

/* button styles !!!YOU NEED THEM 
!!!ALSO YOU NEED TO ADD FONTWESOME */

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: red;
  text-transform: capitalize;
  /* background-color: - add your own background-color */
  font: {
    family: "Roboto", sans-serif; /* put your font-family */
    size: 18px;
  }
  padding: 20px 0px;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
}

/* effect-1 styles */

.effect.effect-1 {
  transition: all 0.2s linear 0s;

  &:before {
    content: url(@img/decor-more.svg);
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -20px;

    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}
