// Заголовки, общие БЄМ блоки и проче...
.page {
  @include adaptiveValue("margin-left", 430, 300, 1920, 991.98, 2);
  margin-bottom: 200px;
}

.section {
  // .section__title-left

  &__title-left {
    width: 13%;
    position: absolute;
    left: 20px;

    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    font-size: 24px;
    color: $mainColorBlue;
    line-height: math.div(30, 24);

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 8px;
      left: -20px;
      background-color: $mainColorRed;
      border-radius: 50px;
    }
  }

  // .section__decor

  &__decor {
    // margin-right: auto;
    // margin-left: auto;
    width: 200px;
    height: 80px;
    margin-bottom: 40px;
  }

  // .section__title

  &__title {
    width: 60%;
    text-align: center;

    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
  }

  // .section__subtitle

  &__subtitle {
    width: 60%;
    text-align: center;

    font-family: $fontFamilyPlayfair;
    font-weight: 700;
    font-size: 28px;
    line-height: math.div(33, 28);
  }
}
