.fixed-menu {
  @include adaptiveValue("width", 480, 280, 1920, 991.98, 1);
  @include adaptiveValue("font-size", 20, 14, 1520, 991.98, 1);
  @include adaptiveValue("padding-right", 130, 40, 1920, 991.98, 1);
  @include adaptiveValue("padding-left", 30, 10, 1920, 991.98, 1);
  position: fixed;
  top: 0;
  height: 100%;
  background-color: $mainColorBlue;
  border-radius: 0px 30px 30px 0px;
  padding: 40px 0px 30px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: $fontFamilyPlayfair;
  font-weight: 700;
  color: #fff;

  @media (max-height: 700px) {
    padding: 0px 40px 0px 0px;

    & .fixed-menu__list {
      gap: 10px;
    }
    & .fixed-menu__decor {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $mainColorBlue;
    border-radius: 0px 0px 30px 30px;
    padding: 0px 30px 0px 30px;
    flex-direction: row;
    justify-content: space-around;
  }

  // .fixed-menu__logo

  &__logo {
  }

  // .fixed-menu__icon

  &__icon {
    width: 150px;
    height: 188px;

    @media (max-width: $tablet) {
      width: 40px;
      height: 50px;
    }
  }

  // .fixed-menu__body

  &__body {
    position: relative;
    line-height: math.div(26, 20);

    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .fixed-menu__decor

  &__decor {
    width: 110px;
    height: 40px;

    &--two {
      transform: rotate(180deg);
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .fixed-menu__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  // .fixed-menu__item

  &__item {
    position: relative;
    transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);

    &:hover {
      color: $mainColorBrown;
      transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);

      //     height: rem(100);
      //   &::after {
      //     content: url(@img/decor_fixed-menu.svg);
      //     position: absolute;
      //     top: 30px;
      //     left: 50%;
      //     transform: translateX(-50%) rotate(180deg);
      //   }
    }
  }

  // .fixed-menu__link

  &__link {
  }

  // .fixed-menu__socials

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 50rem;
    padding: 0 1.5rem;

    @media (max-width: $tablet) {
      justify-content: center;
      gap: 30px;
    }
  }
}
