//====================================================================================================
.footer {
  @include adaptiveValue("margin-left", 400, 280, 1920, 991.98, 2);
  padding-top: 6px;
  padding-bottom: 16px;

  // .footer__container

  &__container {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    font-weight: 700;
    font-family: $fontFamilyPlayfair;
    line-height: math.div(18, 14);
    color: $mainColorBrown;
  }

  // .footer__text

  &__text {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  // .footer__politic

  &__politic {
    margin-left: 100px;
    margin-bottom: 16px;
    text-align: start;
	 
    @media (max-width: $mobile) {
      margin-left: 0;
      text-align: center;
    }
  }
}

//====================================================================================================
