//====================================================================================================
.header {
  @include adaptiveValue("margin-left", 400, 280, 1920, 991.98, 2);

  margin-top: 30px;
  position: relative;
  font-weight: 700;
  z-index: 33;

  @media (max-width: $tablet) {
    margin: 0;
  }
  @media (max-width: $mobileSmall) {
  }
 

  // .header__menu

  &__menu {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-bottom: 18px;

    @media (max-width: $tablet) {
      @include adaptiveValue("margin-top", 100, 46, 991.98, 319.98, 1);
    }

    @media (max-width: 1300px) {
      flex-direction: column-reverse;
    }

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }
}

.menu-header {
  // .menu-header__body

  &__body {
    @media (max-width: $mobile) {
    }
  }

  // .menu-header__list

  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 14px;

    @media (max-width: $tablet) {
      justify-content: space-around;
      gap: 10px;
    }

    @media (max-width: $mobileSmall) {
      gap: 4px;
    }
  
  }

  // .menu-header__item

  &__item {
    display: flex;
  }

  // .menu-header__button-call

  &__button-call {
    white-space: nowrap;
    text-transform: uppercase;

    @media (max-width: $tablet) {
      margin-bottom: 12px;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .menu-header__top

  &__top {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

    @media (max-width: $tablet) {
      justify-content: space-around;
      gap: 16px;
    }
  }

  // .menu-header__button

  &__button {
    @include adaptiveValue("font-size", 16, 10, 1660, 319.98, 1);
    width: auto;
    line-height: 1;

    @media (max-width: $tablet) {
      justify-content: space-around;
      line-height: math.div(10, 14);
    }

    @media (max-width: $mobileSmall) {
      padding: 5px !important;
    }
  }
}
.contacts {
  // .contacts__tel

  &__tel {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;

    &:hover {
      transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
      color: $mainColorBrown;

      & .contacts__icon {
        transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
        scale: 1.2;
        fill: $mainColorBrown;
      }
    }

    @media (max-width: $tablet) {
      &:hover {
        & .contacts__icon {
          scale: 1.2;
          fill: #fff;
        }
      }
    }
  }

  // .contacts__icon

  &__icon {
    fill: $mainColorGrey;
    width: 12px;
    height: 12px;

    @media (max-width: $tablet) {
      fill: $mainColorBrown;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .contacts__number

  &__number {
    @media (max-width: $tablet) {
      color: $mainColorBrown;
      font-family: $fontFamilyJost;

      &:hover {
        color: #fff;
        transition: color 0.4s;
      }
    }
  }

  // .contacts__messengers

  &__messengers {
    font-size: rem(10);
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet) {
      color: $mainColorBrown;
    }

    @media (max-width: $mobile) {
      display: none;
    }

    & a {
      transition: color 0.4s;

      &:hover {
        color: $mainColorBrown;
      }

      @media (max-width: $tablet) {
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.button {
  // .button__brown

  &__brown {
    white-space: nowrap;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  //.button__whatsapp

  &__whatsapp {
    display: none;

    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $mainColorBrown;
      transition: all 0.2s ease-out;

      & svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        transform: rotate(-45deg);
        transition: all 0.2s ease-out;
      }
    }
  }
}

//============================ Анимация кнопок

.button__transparent {
  padding: 8px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.button__transparent {
  letter-spacing: 0.2px;
  font-weight: 600;
  padding: 8px 10px;
  background-color: transparent;
  border: 2px solid #ac8f64;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.button__transparent::before,
.button__transparent::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button__transparent::before {
  z-index: -1;
  transition: opacity 440ms linear;
  opacity: 0;
}

.button__transparent::after {
  content: "";
  height: 150%;
  width: 0.25em;
  background-color: #fff;
  box-shadow: 0px 0px 8px 4px #fff;
  transform: translateX(-1em);
}
.button__transparent:hover {
  background-color: #ac8f64;

  color: #fff;
}
.button__transparent:hover::before {
  opacity: 1;
}

.button__transparent:hover::after {
  animation-duration: 300ms;
  animation-name: sweep;
}

@keyframes sweep {
  from {
    transform: translateX(-1em);
  }

  to {
    transform: translateX(12.5em);
    animation-timing-function: ease-out;
  }
}

.spollers-body-header {
  height: auto;
  z-index: 3;
  top: 40px;
  bottom: auto;
  box-sizing: border-box;
  font-weight: 400;

  background-color: #fff;
  border-radius: 30px;
  padding: 20px 20px 40px 20px;

  box-shadow: 0 0 10px rgba(131, 131, 131, 0.5);
}
