//====================================================================================================
.header {
  @include adaptiveValue("margin-left", 550, 270, 1920, 991.98, 1);
  @include adaptiveValue("font-size", 16, 14, 1920, 991.98, 1);
  @include adaptiveValue("font-size", 14, 10, 479.98, 349.98, 1);
  position: relative;
  font-weight: 700;
  z-index: 3;


  @media (max-width: $tablet) {
    margin: 0;
  }
  @media (max-width: $mobileSmall) {
  }

  &::before {
    z-index: 2;
    content: "";
    position: absolute;
    top: 20px;
    width: 100%;
    border: 2px solid #bd1900;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .header__container

  &__container {
  }

  // .header__menu

  &__menu {
    @include adaptiveValue("margin-top", 60, 46, 1920, 991.98, 1);

    display: flex;
    gap: 26px;

    margin-bottom: 20px;

    @media (max-width: 1300px) {
      flex-direction: column-reverse;
      gap: 16px;
    }
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }
}

.menu-header {
  // .menu-header__body

  &__body {
  }

  // .menu-header__list

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    @media (max-width: $tablet) {
      justify-content: space-around;
    }
    @media (max-width: $mobileSmall) {
      gap: 10px;
    }
  }

  // .menu-header__item

  &__item {
  }

  // .menu-header__button

  &__button {
    line-height: math.div(13, 16);

    font-weight: 700;
    padding: 8px;
    border: 2px solid $mainColorBrown;

    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);

    &:hover {
      box-shadow: none;
      border: 2px solid #fff;
      letter-spacing: 1px;

      background-color: $mainColorBrown;
      color: #fff;
    }
  }

  // .menu-header__top

  &__top {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

    @media (max-width: $tablet) {
      justify-content: space-around;
      gap: 16px;
    }
  }

  // .menu-header__contacts

  &__contacts {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .menu-header__button

  &__button {
  }
}
.contacts {
  // .contacts__tel

  &__tel {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;

    &:hover {
      & .contacts__icon {
        scale: 1.2;
        transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
      }
    }
  }

  // .contacts__icon

  &__icon {
    width: 12px;
    height: 12px;
  }

  // .contacts__number

  &__number {
  }

  // .contacts__messengers

  &__messengers {
    font-size: rem(10);
    display: flex;
    justify-content: space-between;

    & a {
      &:hover {
        color: $mainColorBrown;
        transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
      }
    }
  }

  // .contacts__telegram

  &__telegram {
  }

  // .contacts__whatsapp

  &__whatsapp {
  }

  // .contacts__viber

  &__viber {
  }
}
.button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: 2px solid $mainColorBrown;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-weight: 700;

  // .button__brown

  &__brown {
    white-space: nowrap;

    @media (max-width: $tablet) {
      box-shadow: none;
      &:hover {
        border-color: $mainColorBlue;
      }
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }

  //.button__burger

  &__burger {
    display: none;
    border: none;
    box-shadow: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $mainColorBrown;

    & svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      border: none;
      background-color: $mainColorBlue;
    }

    @media (max-width: $mobileSmall) {
      display: block;
    }
  }
}

//====================================================================================================
